* {
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: 100;
}
body {
    margin: 0;
    background-color: rgba(233, 234, 236, 1);
}
.shadow {
    -webkit-box-shadow: 0 1px 9px -1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 9px -1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 9px -1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
